body {
}

#container {
	background: #1d1d1d;
	padding: 10px;
}

.r45 {
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg)
}

.st-tile {
	float: left;
	position: relative;
	width: 150px;
	height: 150px;

	color: white;
	text-shadow: none;

	&.s1x2 {
		width: 310px;
	}

	.st-tile-content {
		position: absolute;
		left: 5px;
		right: 5px;
		top: 5px;
		bottom: 5px;
		overflow: hidden;
		padding: 5px;
	}

	.st-title {
		font-size: 14px;
		line-height: 16px;
		font-weight:400;
		font-style: normal;
		text-shadow: none;
	}

	.st-icon {
		height: 3em;
		width: 3em;
		left: 50%;
		top: 50%;
		margin-left: -1.5em;
		margin-top: -1.5em;
		position: absolute;
		text-align: center;

		.fa, .wi {
			font-size:3em;
		}
	}

	&.contact {
		background-color: #9c27b0;

		.fa {
			@extend .r45;
		}
	}

	&.switch {
		background-color: #03a9f4;
	}

	&.temperature {
		background-color: #ff9800;

		.st-icon {
			font-size: 3em;
			top: 120px;
		}
	}

	&.humidity {
		background-color: #00bcd4;

		.st-icon {
			font-size: 3em;
			top: 120px;
		}
	}

	&.momentary {
		background-color: #795548;
	}

	&.motion {
		background-color: #607d8b;
	}

	&.lock {
		background-color: #e91e63;
	}

	&.presence {
		background-color: #259b24;
	}

	&.dimmer {
		background-color: #009688;
	}

	&.link {
		background-color: #3f51b5;

		a {
			color: white;
		}
	}

	&.refresh {
		background-color: #3498db;
	}

	&.mode {
		background-color: #34495e;
	}

	&.weather {
		@extend .s1x2;

		background-color: #e51c23;

		.skycon {
			position: absolute;
			top: 45px;
			right: 40px;
		}

		.st-title {
			font-size: 1.1em;
		}

		.w-status {
			font-size: 0.95em;
			position: absolute;
			left: 1em;
		}

		.w-humidity {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		.w-temperature {
			position: absolute;
			top: 50px;
			right: 120px;
			font-size: 2.5em;
		}

		.w-suntimes {
			font-size: 0.9em;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}

.full-width-slider input {
    display: none;
}

.full-width-slider {
    width:140px;
    height:50px;
    bottom: 0;
    position: absolute;

    .ui-slider-track {
    	margin-left: 15px;
    }

    .ui-slider-popup {
    	left: 25% !important;
    }
}

// A pseudo icon to simplify things
.fa-map-marker-away:before {
	content: "\f041";
	opacity: 0.4;
}