@import 'flex';

body {
	background: #1d1d1d;
	font-family: 'Roboto Condensed', sans-serif;
}

#container {
}

.r45 {
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg)
}

.st-tile {
	float: left;
	position: relative;
	width: 10%;
	padding-bottom: 10%;

	color: white;
	text-shadow: none;

	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;

	transition-property: opacity;
	transition-duration: 0.3s;
}

.st-tile-content {
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	overflow: hidden;
	padding: 5px;

	@include flexbox();
	@include flex-direction(column);

	// Colors
	.contact & { background-color: #9c27b0; }
	.switch & { background-color: #ff5722; }
	.temperature & { background-color: #3f51b5; }
	.humidity & { background-color: #00bcd4; }
	.momentary & { background-color: #795548; }
	.motion & { background-color: #607d8b; }
	.lock & { background-color: #e91e63; }
	.presence & { background-color: #259b24; }
	.dimmer & { background-color: #009688; }
	.link & { background-color: #ff9800; }
	.refresh & { background-color: #3498db; }
	.mode & { background-color: #34495e; }
	.weather & { background-color: #03a9f4; }

	.inactive & { background-color: #003865; }
}

.updating {
	opacity: 0.4;
}

.s1x2 {
	width: 20%;
}

.st-title {
	font-size: 14px;
	line-height: 16px;
	font-weight:400;
	font-style: normal;
	text-shadow: none;
}

.st-icon {
	margin: auto;
	text-align: center;

	.fa, .wi {
		font-size:3em;
	}
}

.contact .fa {
	@extend .r45;

}

.temperature .st-icon {
	font-size: 2em;
	font-family: 'Overlock', sans-serif;
}

.humidity .st-icon {
	font-size: 2em;
	font-family: 'Overlock', sans-serif;
}

.link {
	a {
		color: white;
	}
}

.mode {
	.st-icon {
		font-size: 1.5em;
		top: 70%;
	}

	.st-phrases {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
	}

	a {
		color: white;
		text-decoration: none;
	}
}

.weather {
	@extend .s1x2;

	.skycon {
		position: absolute;
		top: 35%;
		right: 20%;
	}

	.st-title {
		font-size: 1.1em;
	}

	.w-status {
		font-size: 0.95em;
		position: absolute;
		left: 1em;
	}

	.w-humidity {
		position: absolute;
		bottom: 1%;
		right: 1%;
		font-size: 0.9em;
	}

	.w-temperature {
		position: absolute;
		top: 40%;
		left: 20%;
		font-size: 2em;
	}

	.w-suntimes {
		font-size: 0.9em;
		position: absolute;
		bottom: 1%;
		left: 1%;
	}
}


.list-picker {
	.jBox-content {
		padding: 0;
	}

	ul {
		padding: 0;
		margin: 0;
		border-top: 1px solid #aaa;
	}

	li {
		list-style: none;
		font-size: 1.1em;
		cursor: pointer;
		padding: 0.5em 1em;
		background: #eee;
		border-bottom: 1px solid #aaa;

		&:hover {
			background: #ddd;
		}
	}
}

// A pseudo icon to simplify things
.fa-map-marker-away:before {
	content: "\f041";
	opacity: 0.4;
}

@media only screen and (max-width : 480px) {
	/* Smartphone view: 3 tile */
	.st-tile {
		width: percentage(1/3);
		padding-bottom: percentage(1/3);
	}

	.s1x2 {
		width: percentage(2/3);
	}

	.st-tile-content {
		left:2px;
		right:2px;
		top:2px;
		bottom:2px;
	}
	.ui-content {
		padding:0;
	}
}

@media only screen and (max-width : 565px) and (min-width : 481px) {
	/* Tablet view: 4 tiles */
	.st-tile {
		width: 25%;
		padding-bottom: 25%;
	}

	.s1x2 {
		width: 50%;
	}

	.st-tile-content {
		left:2px;
		right:2px;
		top:2px;
		bottom:2px;
	}
	.ui-content {
		padding:0px;
	}
}

@media only screen and (max-width : 650px) and (min-width : 566px) {
	/* Tablet view: 5 tiles */
	.st-tile {
		width: 20%;
		padding-bottom: 20%;
	}

	.s1x2 {
		width: 40%;
	}

	.st-tile-content {
		left:2px;
		right:2px;
		top:2px;
		bottom:2px;
	}
	.ui-content {
		padding:0px;
	}
}


@media only screen and (max-width : 850px) and (min-width : 651px) {
	/* Small desktop / ipad view: 6 tiles */
	.st-tile {
		width: percentage(1/6);
		padding-bottom: percentage(1/6);
	}

	.s1x2 {
		width: percentage(2/6);
	}
}

@media only screen and (max-width : 1050px) and (min-width : 851px) {
	/* Small desktop / ipad view: 7 tiles */
	.st-tile {
		width: 14.2%;
		padding-bottom: 14.2%;
	}

	.s1x2 {
		width: 28.4%;
	}
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
	/* Medium desktop: 8 tiles */
	.st-tile {
		width: 12.5%;
		padding-bottom: 12.5%;
	}
	.s1x2 {
		width: 25%;
	}
}