#container {
  background: #1d1d1d;
  padding: 10px;
}

.r45, .st-tile.contact .fa {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.st-tile {
  float: left;
  position: relative;
  width: 150px;
  height: 150px;
}
.st-tile.s1x2 {
  width: 300px;
}
.st-tile .st-tile-content {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  overflow: hidden;
  padding: 5px;
}
.st-tile .st-title {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-shadow: none;
}
.st-tile .st-icon {
  color: white;
  height: 3em;
  width: 3em;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
  position: absolute;
  text-align: center;
}
.st-tile .st-icon .fa, .st-tile .st-icon .wi {
  font-size: 3em;
}
.st-tile.contact {
  background-color: #16a085;
}
.st-tile.switch {
  background-color: #27ae60;
}
.st-tile.temperature {
  background-color: #2980b9;
}
.st-tile.temperature .st-icon {
  font-size: 3em;
  top: 120px;
}
.st-tile.humidity {
  background-color: #8e44ad;
}
.st-tile.humidity .st-icon {
  font-size: 3em;
  top: 120px;
}
.st-tile.momentary {
  background-color: #34495e;
}
.st-tile.motion {
  background-color: #2c3e50;
}
.st-tile.lock {
  background-color: #d35400;
}
.st-tile.presence {
  background-color: #c0392b;
}
.st-tile.dimmer {
  background-color: #f39c12;
}
.st-tile.link {
  background-color: #7f8c8d;
}
.st-tile.link a {
  color: white;
}
.st-tile.refresh {
  background-color: #3498db;
}
.st-tile.mode {
  background-color: #34495e;
}
.st-tile.weather {
  background-color: #e67e22;
}

.full-width-slider input {
  display: none;
}

.full-width-slider {
  width: 140px;
  height: 50px;
  bottom: 0;
  position: absolute;
}
.full-width-slider .ui-slider-track {
  margin-left: 15px;
}
.full-width-slider .ui-slider-popup {
  left: 25% !important;
}

.fa-map-marker-away:before {
  content: "\f041";
  opacity: 0.4;
}
