#container {
  background: #1d1d1d;
  padding: 10px;
}

.st-tile {
  float: left;
  position: relative;
  width: 150px;
  height: 150px;
}
.st-tile.s1x2 {
  width: 300px;
}
.st-tile .st-tile-content {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  overflow: hidden;
  padding: 5px;
}
.st-tile .st-title {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-shadow: none;
}
.st-tile .st-icon {
  color: white;
  height: 3em;
  width: 3em;
  left: 50%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -1.5em;
  position: absolute;
  text-align: center;
}
.st-tile .st-icon .fa, .st-tile .st-icon .wi {
  font-size: 3em;
}
.st-tile.contact {
  background-color: #1abc9c;
}
