#container {
  background: #1d1d1d; }

.r45, .contact .fa {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.st-tile {
  float: left;
  position: relative;
  width: 10%;
  padding-bottom: 10%;
  color: white;
  text-shadow: none;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-property: opacity;
  transition-duration: 0.3s; }

.st-tile-content {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  overflow: hidden;
  padding: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .contact .st-tile-content {
    background-color: #9c27b0; }
  .switch .st-tile-content {
    background-color: #ff5722; }
  .temperature .st-tile-content {
    background-color: #3f51b5; }
  .humidity .st-tile-content {
    background-color: #00bcd4; }
  .momentary .st-tile-content {
    background-color: #795548; }
  .motion .st-tile-content {
    background-color: #607d8b; }
  .lock .st-tile-content {
    background-color: #e91e63; }
  .presence .st-tile-content {
    background-color: #259b24; }
  .dimmer .st-tile-content {
    background-color: #009688; }
  .link .st-tile-content {
    background-color: #ff9800; }
  .refresh .st-tile-content {
    background-color: #3498db; }
  .mode .st-tile-content {
    background-color: #34495e; }
  .weather .st-tile-content {
    background-color: #03a9f4; }

.updating {
  opacity: 0.4; }

.s1x2, .weather {
  width: 20%; }

.st-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-shadow: none; }

.st-icon {
  margin: auto;
  text-align: center; }
  .st-icon .fa, .st-icon .wi {
    font-size: 3em; }

.temperature .st-icon {
  font-size: 2em;
  top: 75%; }

.humidity .st-icon {
  font-size: 2em;
  top: 75%; }

.link a {
  color: white; }

.mode .st-icon {
  font-size: 1.5em;
  top: 70%; }
.mode .st-phrases {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; }
.mode a {
  color: white;
  text-decoration: none; }

.weather .skycon {
  position: absolute;
  top: 35%;
  right: 20%; }
.weather .st-title {
  font-size: 1.1em; }
.weather .w-status {
  font-size: 0.95em;
  position: absolute;
  left: 1em; }
.weather .w-humidity {
  position: absolute;
  bottom: 1%;
  right: 1%;
  font-size: 0.9em; }
.weather .w-temperature {
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: 2em; }
.weather .w-suntimes {
  font-size: 0.9em;
  position: absolute;
  bottom: 1%;
  left: 1%; }

.full-width-slider input {
  display: none; }

.full-width-slider {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute; }
  .full-width-slider .ui-slider-track {
    margin-left: 15px; }
  .full-width-slider .ui-slider-popup {
    left: 25% !important; }

.fa-map-marker-away:before {
  content: "\f041";
  opacity: 0.4; }

@media only screen and (max-width: 480px) {
  /* Smartphone view: 3 tile */
  .st-tile {
    width: 33.3333333333%;
    padding-bottom: 33.3333333333%; }

  .s1x2, .weather {
    width: 66.6666666667%; }

  .st-tile-content {
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px; }

  .ui-content {
    padding: 0; } }
@media only screen and (max-width: 565px) and (min-width: 481px) {
  /* Tablet view: 4 tiles */
  .st-tile {
    width: 25%;
    padding-bottom: 25%; }

  .s1x2, .weather {
    width: 50%; }

  .st-tile-content {
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px; }

  .ui-content {
    padding: 0px; } }
@media only screen and (max-width: 650px) and (min-width: 566px) {
  /* Tablet view: 5 tiles */
  .st-tile {
    width: 20%;
    padding-bottom: 20%; }

  .s1x2, .weather {
    width: 40%; }

  .st-tile-content {
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px; }

  .ui-content {
    padding: 0px; } }
@media only screen and (max-width: 850px) and (min-width: 651px) {
  /* Small desktop / ipad view: 6 tiles */
  .st-tile {
    width: 16.6666666667%;
    padding-bottom: 16.6666666667%; }

  .s1x2, .weather {
    width: 33.3333333333%; } }
@media only screen and (max-width: 1050px) and (min-width: 851px) {
  /* Small desktop / ipad view: 7 tiles */
  .st-tile {
    width: 14.2%;
    padding-bottom: 14.2%; }

  .s1x2, .weather {
    width: 28.4%; } }
@media only screen and (max-width: 1290px) and (min-width: 1051px) {
  /* Medium desktop: 8 tiles */
  .st-tile {
    width: 12.5%;
    padding-bottom: 12.5%; }

  .s1x2, .weather {
    width: 25%; } }
